# Only ignore specific Release/Debugs
NOLF/*/Release
NOLF/*/Debug
LT2/lithshared/built/Release
LT2/lithshared/built/Debug
CRes.dll
CShell.dll
# There's no pre-built libs in Final Release, so just ignore it all
Final_Release
*.opendb
*.log
# *.dll
*.lto
*.plg
.vs
.vscode
*.db
*.db*
*.sdf
UpgradeLog*.htm
ART
*.pdb