# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: "windows-2019"

variables:
  solution: '**/*.sln'
  buildPlatform: 'x86'
  buildConfiguration: 'Final Release'

steps:
- task: VSBuild@1
  inputs:
    solution: 'NOLF\\NOLF.sln'
    vsVersion: '16.0'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '.\\'
    flattenFolders: true
    Contents: |
      NOLF\\ClientRes\\CRes.dll
      NOLF\\ClientShellDLL\\CShell.dll
      NOLF\\ObjectDLL\\Object.lto
    TargetFolder: '$(Pipeline.Workspace)\\Artifacts\\Modernizer'
    
- task: CopyFiles@2
  inputs:
    SourceFolder: 'ASSETS'
    Contents: '**'
    TargetFolder: '$(Pipeline.Workspace)\\Artifacts\\Modernizer'

- task: CopyFiles@2
  inputs:
    SourceFolder: 'LIBS\\SDL2-2.0.10\\lib\\x86\\'
    Contents: 'SDL2.dll'
    TargetFolder: '$(Pipeline.Workspace)\\Artifacts'

- task: CmdLine@2
  inputs:
    script: 'TOOLS\\lithrez.exe c $(Pipeline.Workspace)\\Artifacts\\Modernizer $(Pipeline.Workspace)\\Artifacts\\Modernizer.rez'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)\\Artifacts'
    artifact: '$(buildConfiguration) Files'
